html, body {
  height: 100%;
}

body {
  background: black;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100vmin;
  height: 100vmin;
  image-rendering: pixelated;
}
